/* navbar */
.navbar {
  background-color: rgb(249, 249, 249);
  border-bottom: 1px solid lightgray;
}

.navbar .nav-item {
  font-weight: 650;
  font-size: 18px;
  margin-left: 30px;
}

.form {
  background: #b1397a;
  background: #b1397a;
}
/* Home */
#home {
  background-image: url("/public/Assets/landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

/* footer */
.footer {
  background-color: #b1397a;
  background: #b1397a;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}

/* celebration page */
.pageStyle h2 {
  color: #bb7f9f;
  font-weight: 600;
}

.pageStyle p {
  color: #814d69;
  font-weight: 600;
}

.aboutUs {
  background-image: url("/public/Assets/chef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}
