/* navbar */
.navbar {
  background-color: #E9B2B2;
}

.navbar .nav-item {
  font-weight: 650;
  margin-left: 30px;
}


/* Home */
#home {
  background-image: url("/public/Assets/landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}